.hero {
  height: 550px;
  max-width: 1440px;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: top center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "hero-info launch-info";
}

.heroInfo {
  grid-area: hero-info;
  padding: 10rem 10rem 0 3rem;
  backdrop-filter: blur(3px);
  color: var(--clr-neutral-400);
  background-color: var(--clr-secondary-100);
}

.heroInfo h1 {
  padding-bottom: 1rem;
}

.launchInfo {
  grid-area: launch-info;
  backdrop-filter: blur(3px);
  background-color: var(--clr-secondary-100);
}

.launchInfo ul {
  display: flex;
  height: 100%;
  padding: 0 0 2rem 0;
  align-items: flex-end;
  justify-content: flex-end;
}

.launchInfo ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: var(--fs-md);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-400);
  padding-right: 2rem;
}

.launchInfo ul li span {
  line-height: 3rem;
  font-size: var(--fs-xxl);
  font-weight: var(--fw-semi-bold);
}

@media (min-width: 1024px) and (max-width: 1380px) {
  .launchInfo ul li {
    padding-right: 1rem;
    font-size: var(--fs-sm);
  }
  .launchInfo ul li span {
    font-size: var(--fs-xl);
  }
}

@media (min-width: 620px) and (max-width: 1023px) {
  .launchInfo ul {
    padding-right: 2rem;
    flex-direction: column;
  }
  .launchInfo ul li {
    padding: 0 0 1rem 0;
  }
}

@media (min-width: 620px) and (max-width: 849px) {
  .heroInfo {
    padding: 10rem 2rem 0 2rem;
  }
}

@media (min-width: 320px) and (max-width: 619px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero-info"
      "launch-info";
  }
  .heroInfo {
    padding: 8rem 2rem 0 2rem;
  }
  .launchInfo {
    padding: 1rem;
  }
  .launchInfo ul li {
    padding: 0;
    text-align: center;
  }
}
