.suspense {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 150px;
}

.text {
  padding-top: 1rem;
  color: var(--clr-neutral-400);
}
